PORT=4000
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=2eb55b0676f6fbff688b5c71ec1a234733de55da5c832393b8bac8a8c5e65056
JWT_EXPIRES_IN=7d
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=freelancyy@gmail.com
SMTP_PASS=ixgdzcfiikghnobq
SMTP_FROM=FreeLancy <freelancyy@gmail.com>
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=project
DB_POOL_SIZE=10
VITE_API_BASE_URL=http://localhost:4000/api
B2_KEY_NAME=freelancy-chat-files
B2_KEY_ID=00335497e1f568f0000000002
B2_APP_KEY=K003Oo9DQ4EcAri/bxR/okcz7OtpD4I
B2_BUCKET=freelancy-chat-files
B2_ENDPOINT=